/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";



* {
    box-sizing: border-box;
}



/* home photo grid*/

.header {
    text-align: center;
    padding: 32px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    z-index: -100;
}

.column img {
    margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}


/*home page title*/

$f: 10vw; // font size
$s: 6px;
$color-bg: #27292a;

.style-zoom {
  background: radial-gradient(top, ellipse cover, rgba(248,80,150,1) 0%, rgba(134,220,24,1) 25%, rgba(38,124,240,1) 60%, rgba(231,56,39,1) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: $f;
  font-weight: 700;
  position: relative;
  &::before {
    content: attr(data-title);
    text-shadow: $s (-$s) 0px white;
    top: 0;
    left: 0;
    animation: depth 6s -1s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite;
  }
  &::after {
    background: radial-gradient(top, ellipse cover, rgba(248,100,100,1) 0%, rgba(10,255,200,1) 25%, rgba(238,124,250,1) 60%, rgba(250,166,29,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //-webkit-text-stroke: 1px rgba(250,250,250,0.1);
    transform: translate3d(0px, ($s*2), 0px) scale(0.9);
    z-index: -1;
  }
  &::before {
    background: linear-gradient(top, rgba(55,93,177,1) 0%, rgba(253,251,0,1) 30%, rgba(239,1,124,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //-webkit-text-stroke: 1px rgba(250,250,250,0.1);
    transform: translate3d(0px, ($s*4), 0px) scale(0.8);
    z-index: -2;
  }
}

@keyframes depth {
  50% {
    transform: translate3d(0px, 0px, 0px);
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  background: $color-bg;
  font-family: 'Montserrat', sans-serif;
}

$h: 100vh;

.col {
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  height: $h;
  &:before, &:after {
    display: table;
    content: " ";
  }
}

h1 {
  line-height: $h;
  margin: 0;
  padding: 0;
}










@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1091 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: inline-block;
  margin: 10px 5px;
  min-width: 200px;
  max-width: 400px;
  max-height: 310px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1091 * {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.snip1091 img {
  opacity: 0.25;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

figure.snip1091 figcaption {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
  transform: rotate(0deg) translateY(-50%) scale(1);
  -webkit-transform-origin: center 0;
  transform-origin: center 0;
}

figure.snip1091 figcaption h2 {
  top: 50%;
  letter-spacing: -1px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  font-weight: 400;
}

figure.snip1091 figcaption h2 span {
  font-weight: 800;
}

figure.snip1091 figcaption:before,
figure.snip1091 figcaption:after {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.snip1091 figcaption:before {
  left: 0;
  top: 0;
}

figure.snip1091 figcaption:after {
  bottom: 0;
  right: 0;
}

figure.snip1091.blue {
  background: #091b27;
}

figure.snip1091.red {
  background: #2e0e0a;
}

figure.snip1091.yellow {
  background: #4f3204;
}

figure.snip1091.green {
  background: #061c10;
}

figure.snip1091.navy {
  background: #000000;
}

figure.snip1091 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

figure.snip1091:hover img,
figure.snip1091.hover img {
  opacity: 1;
}

figure.snip1091:hover figcaption,
figure.snip1091.hover figcaption {
  -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
  transform: rotate(-45deg) translateY(-50%) scale(0.9);
}

figure.snip1091:hover figcaption:before,
figure.snip1091.hover figcaption:before,
figure.snip1091:hover figcaption:after,
figure.snip1091.hover figcaption:after {
  width: 200%;
}

/* Demo purposes only */

body {
  text-align: center;
}
